@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
    height: 100%;
}
body {
    background: rgb(111,143,159);
    background: radial-gradient(circle, rgba(111,143,159,1) 0%, rgba(30,49,59,1) 100%);
    color: #f8e0cf;
    font-family: 'Inter', sans-serif;
}